.testimonial{
    background: linear-gradient(270.16deg,#441b45 5.74%,#af2676 92.05%);
}
.prg{
    font-size: 26px;
    font-weight: 500;
}
.head-6{
    font-size: 14px;
    font-weight: 700;
    margin-top: 40px;
}